// Globals
$primary: var(--v-primary-base);
$secondary: var(--v-secondary-base);
$info: var(--v-info-base);
$warning: var(--v-warning-base);
$error: var(--v-error-base);
$success: var(--v-success-base);
$white: #fff;
$black: #000;
$fontFamilyMontserrat: "Poppins", sans-serif;
$body-font-family: $fontFamilyMontserrat;

$backgroundColor: var(--v-backgroundColor-base);
$fontColor: var(--v-fontColor-base);
$color1: var(--v-color1-base);
$color2: var(--v-color2-base);
$color3: var(--v-color3-base);
$color4: var(--v-color4-base);
$color5: var(--v-color5-base);
$color6: var(--v-color6-base);
$linkActive: var(--v-linkActive-base);
